<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="header">
		<style type="text/css">
			.PanelButton { /* Панель кнопок-действий */
				height: 50px;
				background: #f1f1f1; 
				border: solid LightGrey;
				border-width: 1px 0px;
			}
			.button_action { /* Кнопка-действие */
				height: 100%;
				width: 50px;
				border: solid 0px;
				vertical-align: middle;
				padding: 0;
				margin: 0;
				float:left;
			}
			.button_action:hover { background: #ddd; } /* при наведении курсора мышки */
			.button_action:active { background: Silver; } /* при нажатии */
		</style> 
	</th:block>
</body>
</html>