<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="images/gelicon_icon.png" type="image/x-icon">
  <title>Тесты spring boot</title>
  <script>
	function edizmClick() {
		var url = '/edizm/index';
		document.location.href = url;
	};
  </script>
 </head>
 <body>
	<div>
		<button class="button_module" id="button_edizm" title="Единицы измерения" onclick="edizmClick()"><img th:src="@{images/edizm.png}">Единицы измерения</button>
	</div>
 </body>
</html>