<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="images/gelicon_icon.png" type="image/x-icon">
  <title>Тесты spring boot</title>
  <script>
	function edizmClick() {
		var url = '/edizm';
		var delimiter = '?';
		var driverClassName = document.getElementById("driverClassName").value;
		if (driverClassName) {
			url = url + delimiter + 'driverclassname=' + driverClassName;
			delimiter = '&';
		}
		var jdbcUrl = document.getElementById("jdbcUrl").value;
		if (jdbcUrl) {
			url = url + delimiter + 'jdbcurl=' + jdbcUrl;
			delimiter = '&';
		}
		var userName = document.getElementById("userName").value;
		if (userName) {
			url = url + delimiter + 'user=' + userName;
			delimiter = '&';
		}
		var passWord = document.getElementById("passWord").value;
		if (passWord) {
			url = url + delimiter + 'password=' + passWord;
			delimiter = '&';
		}
		document.location.href = url;
	};
  </script>
 </head>
 <body>
	<div>
		<p><b>driverClassName: </b><input type="text" size="40" value="org.postgresql.Driver" id="driverClassName">
		<p><b>jdbcUrl: </b><input type="text" size="60" value="jdbc:postgresql://10.15.3.39:5432/PS_DEVELOP_TRUNK" id="jdbcUrl">
		<p><b>userName: </b><input type="text" size="20" value="SYSDBA" id="userName">
		<p><b>passWord: </b><input type="text" size="20" value="masterkey" id="passWord">
	</div>
	<div>
		<button onclick="edizmClick()">Единицы измерения</button>
	</div>
 </body>
</html>